<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960025410178-5888d5ico3oc2po8k9jpf0ila9gjlqus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960025410178-5888d5ico3oc2po8k9jpf0ila9gjlqus</string>
	<key>API_KEY</key>
	<string>AIzaSyAdxgooC-mKwLJai1exAIDqA2lN9nhoRAg</string>
	<key>GCM_SENDER_ID</key>
	<string>960025410178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yubaneupane.mynotes</string>
	<key>PROJECT_ID</key>
	<string>hackatonpsu</string>
	<key>STORAGE_BUCKET</key>
	<string>hackatonpsu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960025410178:ios:f180068cae45c9934f529b</string>
	<key>DATABASE_URL</key>
	<string>https://hackatonpsu.firebaseio.com</string>
</dict>
</plist>